## Regresion Logistica Binomial

### Paso 1: Librerías

In [40]:
##Librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

###Machine learning


##Hiperparametrización

### Paso 2: Importar Dataset

In [41]:
data = '../5.RegresionLogistica/Dataset/weatherAUS.csv'

df = pd.read_csv(data)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [42]:
##Extraer los encabezados del dataframe
col_names = df.columns

col_names

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [43]:
##Categóricas y numéricas
categoricas = [i for i in df.columns if df[i].dtype=='O']

print('Hay {} variables de tipo categórico'.format(len(categoricas)))

print('Las variables categóricas son:', categoricas)

Hay 7 variables de tipo categórico
Las variables categóricas son: ['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [44]:
df[categoricas].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

In [45]:
##Datos NAN de las columnas categóricas
df[categoricas].isnull().sum()

Date                0
Location            0
WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [46]:
##Sacar los conteos de datos NAN sin los valores de cero
cat1 = [i for i in categoricas if df[i].isnull().sum()!= 0]
print(df[cat1].isnull().sum())

WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [47]:
##Revisar las etiquetas u opciones de las variables
for i in categoricas:
    print(i, 'contiene', len(df[i].unique()),'Etiquetas')

Date contiene 3436 Etiquetas
Location contiene 49 Etiquetas
WindGustDir contiene 17 Etiquetas
WindDir9am contiene 17 Etiquetas
WindDir3pm contiene 17 Etiquetas
RainToday contiene 3 Etiquetas
RainTomorrow contiene 3 Etiquetas

### Limpieza

In [48]:
##categorica la fecha - Date
df['Date'] = pd.to_datetime(df['Date'])

In [49]:
###Extraer el año a una columna
df['Year'] = df['Date'].dt.year

df['Year']

0         2008
1         2008
2         2008
3         2008
4         2008
          ...
145455    2017
145456    2017
145457    2017
145458    2017
145459    2017
Name: Year, Length: 145460, dtype: int64

In [50]:
###Extracción de mes
df['Month'] = df['Date'].dt.month

df['Month'].head()

0    12
1    12
2    12
3    12
4    12
Name: Month, dtype: int64

In [51]:
###Extracción de dia
df['Day'] = df['Date'].dt.day

df['Day'].head()

0    1
1    2
2    3
3    4
4    5
Name: Day, dtype: int64

In [52]:
##Eliminar la fecha normal
df.drop('Date', axis=1, inplace=True)

In [53]:
###Variables dummies y exploración de la columna Location
df.Location.unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [54]:
##Variables dummies de Location
#df2 = df
pd.get_dummies(df.Location, drop_first=True)

,Albany,Albury,AliceSprings,BadgerysCreek,Ballarat,Bendigo,Brisbane,Cairns,Canberra,Cobar,...,Townsville,Tuggeranong,Uluru,WaggaWagga,Walpole,Watsonia,Williamtown,Witchcliffe,Wollongong,Woomera
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
145456,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
145457,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
145458,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
145459,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [55]:
##Viento - np.where(df['WindGustDir']=='ENE', 'NE', df['WindGustDir']) - apply - lapply
pd.get_dummies(df['WindGustDir'], drop_first=True, dummy_na=True)

        ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW  NaN
0         0    0  0   0    0    0   0  0   0    0    0   0  1    0    0    0
1         0    0  0   0    0    0   0  0   0    0    0   0  0    1    0    0
2         0    0  0   0    0    0   0  0   0    0    0   0  0    0    1    0
3         0    0  0   1    0    0   0  0   0    0    0   0  0    0    0    0
4         0    0  0   0    0    0   0  0   0    0    0   0  1    0    0    0
...     ...  ... ..  ..  ...  ...  .. ..  ..  ...  ...  .. ..  ...  ...  ...
145455    0    0  0   0    0    0   0  0   0    0    0   0  0    0    0    0
145456    0    0  0   0    0    1   0  0   0    0    0   0  0    0    0    0
145457    0    0  1   0    0    0   0  0   0    0    0   0  0    0    0    0
145458    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0    0
145459    0    0  0   0    0    0   0  0   0    0    0   0  0    0    0    1

[145460 rows x 16 columns]

In [56]:
##Viento 9 am
pd.get_dummies(df['WindDir9am'], drop_first=True, dummy_na=True)

        ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW  NaN
0         0    0  0   0    0    0   0  0   0    0    0   0  1    0    0    0
1         0    0  0   0    0    1   0  0   0    0    0   0  0    0    0    0
2         0    0  0   0    0    0   0  0   0    0    0   0  1    0    0    0
3         0    0  0   0    0    0   0  0   1    0    0   0  0    0    0    0
4         1    0  0   0    0    0   0  0   0    0    0   0  0    0    0    0
...     ...  ... ..  ..  ...  ...  .. ..  ..  ...  ...  .. ..  ...  ...  ...
145455    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0    0
145456    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0    0
145457    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0    0
145458    0    0  0   0    0    0   0  0   0    1    0   0  0    0    0    0
145459    0    1  0   0    0    0   0  0   0    0    0   0  0    0    0    0

[145460 rows x 16 columns]

In [57]:
##Viento 3 pm
pd.get_dummies(df['WindDir3pm'], drop_first=True, dummy_na=True)

        ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW  NaN
0         0    0  0   0    0    0   0  0   0    0    0   0  0    1    0    0
1         0    0  0   0    0    0   0  0   0    0    0   0  0    0    1    0
2         0    0  0   0    0    0   0  0   0    0    0   0  0    0    1    0
3         0    0  0   0    0    0   0  0   0    0    0   0  0    0    0    0
4         0    0  0   0    0    0   1  0   0    0    0   0  0    0    0    0
...     ...  ... ..  ..  ...  ...  .. ..  ..  ...  ...  .. ..  ...  ...  ...
145455    1    0  0   0    0    0   0  0   0    0    0   0  0    0    0    0
145456    0    0  1   0    0    0   0  0   0    0    0   0  0    0    0    0
145457    0    0  0   0    0    0   0  0   0    0    0   0  0    1    0    0
145458    0    0  1   0    0    0   0  0   0    0    0   0  0    0    0    0
145459    0    1  0   0    0    0   0  0   0    0    0   0  0    0    0    0

[145460 rows x 16 columns]

In [58]:
##Rain today y rain tomorrow
df['RainToday'].value_counts()

No     110319
Yes     31880
Name: RainToday, dtype: int64

In [59]:
pd.get_dummies(df['RainToday'], drop_first=True, dummy_na=True)

        Yes  NaN
0         0    0
1         0    0
2         0    0
3         0    0
4         0    0
...     ...  ...
145455    0    0
145456    0    0
145457    0    0
145458    0    0
145459    0    0

[145460 rows x 2 columns]